@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600&family=Lato:wght@400;700&display=swap");

.light {
  --primary-color: #e54b4b;
  --animation-type: 0.3s ease-in all;
  --font-default: "Inter", sans-serif;
  --light-background-color: #f9f7e8;
}

.dark {
  --primary-color: #e54b4b;
  --animation-type: 0.3s ease-in all;
  --font-default: "Inter", sans-serif;
  --light-background-color: #212121;
}

body {
  background-color: var(--light-background-color);
}

.header-button {
  font-family: var(--font-default);
  font-size: 1em;
  padding: 1.3em 1.5em;
  font-weight: 500;
  border: none;
  transition: var(--animation-type);
}

.main-button {
  background-color: var(--primary-color);
  color: white;
}

.main-button:hover {
  color: white;
}

.header-button:hover {
  opacity: 0.8;
}

.navbar-bg {
  background-color: var(--light-background-color);
}

.suggestion-btn {
  background-color: var(--primary-color);
  color: white;
  font-size: 1.2em;
  transition: var(--animation-type);
  border-radius: 10px;
  padding: 1.2em 2em;
  border: none;
  font-weight: 500;
  margin: 24px 0;
}

.suggestion-btn:hover {
  opacity: 0.8;
}

.movie-image {
  border-radius: 10px;
}

.image-col {
  display: flex;
  flex-direction: column;
}

.movie-title {
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: black;
  font-size: 3em;
}

.column {
  padding-left: 3em;
  padding-right: 3em;
}

.desc-tag {
  border-radius: 10px;
  background-color: #efe8d8;
  font-family: var(--font-default);
  padding: 0.8em 1.5em;
  border: none;
  margin-right: 10px;
  font-weight: 500;
  font-size: 0.9em;
}

.movie-description {
  margin-top: 12px;
}

.play-button {
  color: var(--primary-color);
  cursor: pointer;
  font-weight: 600;
}

.hero-section {
  margin-top: 20px;
}

.hero-container {
  margin: 0 auto;
  max-width: 1350px;
}

.rating-row {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  display: flex;
  align-items: center;
}

.rating {
  margin-left: 12px;
  font-size: 1.2em;
  font-weight: 600;
}

.overview-heading {
  font-weight: 600;
  font-size: 1.2em;
  color: black;
  margin-bottom: 8px;
}

.overview {
  font-weight: 400;
  color: black;
  line-height: 150%;
  text-align: justify;
}

.button-row {
  margin-top: 1.4em;
}

.button-row button {
  margin-right: 12px;
  font-size: 0.925em;
  padding: 0.8em 1.5em;
  border: none;
  font-family: var(--font-default);
  transition: var(--animation-type);
}

.button-row button:hover {
  opacity: 0.8;
}

.button-row button:nth-of-type(2) {
  background-color: #00ac4d;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.button-row button:nth-of-type(1) {
  background-color: #ededed;
  border-radius: 6px;
  color: black;
  font-weight: 500;
  cursor: pointer;
}

i {
  margin-right: 10px;
}

.share-btn {
  color: white;
}

.share-btn:hover {
  color: white;
}

.genre-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 3em;
}

.type {
  margin-right: 2em;
  font-size: 1.2em;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.5em 1em;
}

#recommendationBtn {
  background-color: #e54b4b;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  padding: 0.8em 2em;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
